extends layout

block main 
  h2= "Buildings"

  form(action="/home/buildings/add" method="get") 
    button Add Building

  form(action="/home/buildings/delete" method="get")   
    button Delete Building

  table(border="1")
    thead
      tr
        th ID
        th Name
        th City
        th Square Feet
    tbody
      each building in buildings
        tr
          td= building.id
          td= building.name
          td= building.city
          td= building.sqft

block footer
  h4= "Footer Navigation"

  form(action="/home" method="get") 
    button Home
  
  form(action="/home/vehicles" method="get") 
    button Vehicles