extends layout

block main 
  h2= "Vehicles"

  form(action="/home/vehicles/add" method="get") 
    button Add Vehicle

  form(action="/home/vehicles/delete" method="get")   
    button Delete Vehicle

  table(border="1")
    thead
      tr
        th ID
        th Make
        th Model
        th Year
    tbody
      each vehicle in vehicles
        tr
          td= vehicle.id
          td= vehicle.make
          td= vehicle.model
          td= vehicle.year

block footer
  h4= "Footer Navigation"

  form(action="/home" method="get") 
    button Home
  
  form(action="/home/buildings" method="get") 
    button Buildings